<div class="row">
    <div class="col-xs-12">
        <h1>Mock Route List</h1>
    </div>
</div>



<div class="row">
    <div class="col-xs-12">

        <table class="table table-bordered table-striped table-condensed" style="margin-top:20px">
            <thead>
                <tr>
                    <th>Edit</th>
                    <th>Source</th>                    
                    <th>Destination</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mockRoute of mockRoutes">
                    <td>
                        <a href="#" class="btn btn-primary" [routerLink]="['/route', mockRoute.id]">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
                    </td>
                    <td>{{mockRoute.source}}</td>
                    <td>{{mockRoute.destination}}</td> 
                   
                </tr>
            </tbody>
        </table>

    </div>
</div>